* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(154,168,168);
    background: linear-gradient(36deg, rgba(154,168,168,1) 0%, rgba(255,255,255,1) 45%);
    min-height: 100vh;
}

.userBlock {
    display: flex;
    justify-content: center;    
    padding: 12rem;
}

.userLogo {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.userCaption {
    font-size: 1rem;
}
