* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(154,168,168);
    background: linear-gradient(36deg, rgba(154,168,168,1) 0%, rgba(255,255,255,1) 45%);
    min-height: 100vh;
}

.userBlock {
    display: flex;
    justify-content: center;    
    padding: 12rem;
}

.userLogo {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.userCaption {
    font-size: 1rem;
}

.map {
    background-color: rgb(201, 211, 201);
    padding: 300px 230px;
    border-style: solid;
    border-radius: px;
    display: flex;
    justify-content: center;

}

.clientTable {
    background-color: rgb(159, 234, 161);
    font-weight: bolder;
    padding: 5px 10px;
    margin: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: rgb(118, 177, 120)
}